/* Container Styling */
.container{
  background-color: bisque;
  border: 2px solid rgb(163, 118, 118);
  border-radius: 10px;
  padding: 15px;
  font-weight: 500;
}
/* Main Heading Styling */
h2{
  color: chocolate;
}
/* Input Placeholder Styling */
input::placeholder{
  font-weight: 500;
}
input[type=text]:focus{
  box-shadow: none;
  border:2px solid #6B705c;
  background-color: #fbfbeb;
}
/* List Items Arrangement Styling */
.list-group-item{
  display: flex;
  justify-content: space-between;
  background-color: #b5b5a9;
  border: 2px solid #a3a398;
}
/* Delete Button Styling */
#delete{
  border: 2px solid red;
  border-radius: 100%;
}
